.job {
    margin: 5px;
}

.job p {
    margin: 5px;
}

section {
    margin: 5px;
}
#extracurriculars {
    margin: 5px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    color: #4e4d50;
}

body.dark-mode h3 {
    color: #dbd9df;
}
