.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr)); /* project cards per row */
    gap: 5rem;
    padding: 0 1em;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
}

.project-card {
    border-radius: 0.625rem; 
    padding: 0.5rem; 
    width: 23rem;
    height: 23rem; 
    gap: 2rem;
    transition: transform 0.2s;
    margin: 1rem 0;
}
  

.project-card:hover {
    transform: scale(1.05); 
    cursor: pointer;
}

.project-card img {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    padding: 0.3125rem;
    background-color: rgba(187, 185, 185, 0.2); 
}

#fitbook-logo {
    height: 100%;
}

.project-info {
    background-color: rgb(226, 218, 218);
    color: white;
    border-radius: 0.625rem;
    max-width: 100%;
    width: 23rem;
}

body:not(.dark-mode) .project-info {
    background-color: white;
    color: #1F1F1F;
}

.project-name{
    font-size: 2em;
    margin: 0.2em 0;
}

.project-description {
    font-size: 1.3em; 
    color: #9591A3;
    margin: 0.2em 0; 
}

/* Dark mode  */
body.dark-mode .project-info {
    background-color: #111111;
    color: white;
}

body.dark-mode .project-description {
    color: #cfcdd6;
}

#profile-photo img {
    border-radius: 50%; 
    margin-right: 50px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding-right: 2em;
    }

    .project-card {
        width: 100%;
        max-width: 100%;
    }

    .project-info {
        width: 100%;
        max-width: 100%;
        padding-left: 2rem;
    }

    .project-name {
        font-size: 1.5rem; 
    }

    .project-description {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .project-name {
        font-size: 1.25rem;
    }

    .project-description {
        font-size: 1rem;
    }
}