.projects-navigation {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  gap: 3.125rem;
  margin: 0;
}
/* Project Page Specific Styles */
.project-container {
  padding: 0.625rem;
  width: 100%;
  max-width: 75rem; 
  margin: 0 auto;
  box-sizing: border-box;
}

.project-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  color: #4e4d50;
  flex-wrap: wrap;
}

body.dark-mode .project-header {
  color: #dbd9df;
}

.project-title {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.project-title h1 {
  font-size: 3.3em;
  margin: 0;
}

.project-title p {
  font-size: 1.2rem;
  color: #4e4d50;
  margin-top: 20px;
  max-width: 90%;
}

body.dark-mode .project-title p {
  color: #aaa;
}

.project-image {
  margin-bottom: 1.25rem;
  flex: 0 0 250px;
  position: relative;
  border-radius: 50%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .project-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-image {
    width: 100%;
    margin-top: 1rem;
  }
}


#fitbook-authentication-figma {
  text-align: center;
}

.project-image img {
  max-width: 100%;
  height: auto;

}

.project-introduction,
.project-details {
  margin-top: 2.5rem;
  width: 100%;
  box-sizing: border-box;
}

.project-introduction h2,
.project-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #4e4d50;
}

body.dark-mode .project-introduction h2,
body.dark-mode .project-details h2 {
  color: #dbd9df;
}


.project-introduction p, .project-details p {
  font-size: 1.2rem;
  color: #333;
  margin-top: 20px;
}

body.dark-mode .project-introduction p,
body.dark-mode .project-details p {
  color: #ddd;
}

.project-details ul {
  list-style-type: disc;
  padding-left: 20px;
}

.project-details ul li {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 5px;
}

body.dark-mode .project-details ul li {
  color: #ddd;
}

/* Layout of passages */
.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#project1-features,
#project1-technologies-used {
  flex: 1;
}

#project1-technologies-used {
  margin-right: 0;
}

.role-description {
  margin-top: 40px;
  margin-bottom: 40px;
}

.reflection {
  margin-bottom: 40px;
}

.video-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 56.25%;
}

.video-container video {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .project-title h1 {
    font-size: 3.125rem; 
  }

  .project-title p {
    font-size: 1.125rem; 
  }

  .project-introduction h2,
  .project-details h2 {
    font-size: 1.5rem; 
  }

  .project-introduction p,
  .project-details p {
    font-size: 1.125rem; 
  }

  .project-details ul li {
    font-size: 1.125rem; 
  }
}

@media (max-width: 480px) {
  .project-title h1 {
    font-size: 2.5rem; 
  }

  .project-title p {
    font-size: 1rem;
  }

  .project-introduction h2,
  .project-details h2 {
    font-size: 1.25rem; 
  }

  .project-introduction p,
  .project-details p {
    font-size: 1rem; 
  }

  .project-details ul li {
    font-size: 1rem; 
  }
}